.exclusivityContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: black;
  background-image: url("../../media/pictures/exclusivityBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;


  .exclusivityText {
    margin-left: 10%;
    max-width: 60vw;
    display: grid;
    margin-right: 10%;
    color: white;
    margin-top: 5%;
    padding-bottom: 5%;

    hr {
      width: 60px;
      margin-left: 0px;
      border: 2px solid white;
    }
    h1 {
      margin: 0px;
      min-font-size: 4vw;
      font-size: 5vw;
      max-font-size: 6vw;
      font-family: 'Poppins-SemiBold';
    }

    p {
      min-font-size: 1vw;
      font-size: 1.5vw;
      max-font-size: 2vw;
      font-family: 'AvenirNextCyr-Regular';
    }
  }

  .exclusivityCover {
    background-image: url("../../media/pictures/exclusivityCover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    width: 25vw;
    max-width: 30vw;
    min-width: 20vw;
    height: 70vh;
    max-height: 80vh;
    min-height: 40vh;
    //margin-left: 10%;
    border-style: none;
    border-radius: 375px;
    margin-right: auto;

  }
}

@media(max-width: 600px) {
  .exclusivityContent {
    height: auto;
    flex-wrap: wrap;

    .exclusivityText{
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }

    .exclusivityCover {
      min-width: 300px;
      height: 400px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}