.contactsContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #F2FBFF;


  .contactsText {
    margin-left: 10%;
    //max-width: 600px;
    display: grid;
    margin-right: 50px;


    hr {
      width: 60px;
      margin-left: 0px;
      border: 2px solid black;
    }

    h1 {
      margin: 0px;
      min-font-size: 4vw;
      font-size: 5vw;
      max-font-size: 6vw;
      font-family: 'Poppins-SemiBold';
    }

    p {
      min-font-size: 1vw;
      font-size: 2vw;
      max-font-size: 3vw;
      font-family: 'AvenirNextCyr-Regular';
    }

    .socialLinks {

      justify-content: space-between;
      display: flex;
      margin-top: 20px;
      max-width: 30vw;
      min-width: 20vw;
      width: 25vw;

      img {
        min-width: 6vw;
        width: 7vw;
        max-width: 8vw;
        min-height: 6vh;
        height: 7vh;
        max-height: 8vh;
      }
    }
  }

  .contactsCover {
    margin-left: auto;
    width: auto;
    //height: auto;
    //margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;


    img {
      border-style: none;
      border-radius: 1000px;
    }

    .up {
      width: auto;
      height: 35vh;
      max-height: 40vh;
      min-height: 25vh;
      margin-bottom: 5%;
    }

    div {
      justify-content: space-between;


      img {
        width: auto;
        height: 40vh;
        max-height: 50vh;
        min-height: 30vh;
      }
      .right {
        margin-left: auto;
      }
    }

  }
}

@media(max-width: 600px) {
  .contactsContent {
    height: auto;
    flex-wrap: wrap-reverse;
    padding-bottom: 10%;
    //margin-bottom: 30px;

    .css-lmrzma {
      margin-right: 0;
    }

    .contactsText {
      h1 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
      .socialLinks{
        min-width: 12vw;
        width: 14vw;
        max-width: 16vw;
        min-height: 12vh;
        height: 14vh;
        max-height: 16vh;
      }

    }

    .contactsCover {
      min-width: 100%;
      height: auto;
      //margin-top: 10%;
      //margin-bottom: 10%;
      display: flex;


      .up {
        width: auto;
        height: 25vh;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
      }

      .left, .right {
        display: none;
      }
    }
  }
}