body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: local('AvenirNextCyr-Regular'), url(/public/AvenirNextCyr/AvenirNextCyr-Regular.ttf);
}

@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: local('AvenirNextCyr-Light'), url(/public/AvenirNextCyr/AvenirNextCyr-Light.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(/public/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'), url(/public/Poppins/Poppins-SemiBold.ttf);
}